<section class="csr-page pb-0">
    <div class="container">
        <header>
            <h4>Media hub</h4>
            <h2 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">CSR</h2>
        </header>
        <article>
            <div class="row my-4">
                <div class="col-lg-4 my-3">
                    <div class="user-img">
                        <img class="w-100" src="assets/media/media.png" alt="" srcset="">
                    </div>
                </div>
                <div class="col-lg-8 my-3">
                    <div class="info">
                        <p>
                            <strong>Maxim Foundation for Development and Services</strong>
                        </p>
                        <p>
                            Maxim Foundation for Development and Services was established in 2013, with Mrs. Naglaa El Sahhar as the head of the Foundation. The Foundation develops projects that facilitate opportunities to contribute to the needs that challenge our country. Following a lifecycle approach, “Maxim Foundation”, works intensively through focused welfare projects in four major areas – child education for children in impoverished areas, healthcare for families with low income, housing, and community engagement through women empowerment.
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<section class="media-hub">
    <div class="container">
        <!-- <header>
            <h4>Media hub</h4>
            <h2 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">
                Maxim Investment Group And Maxim Foundation
            </h2>
        </header> -->
        <article>
            <p>
                As “Maxim Investment Group’s” CSR arm, and due to MIG’s deep commitment to empower others through developing projects that make a direct social impact. This is the mandate of the “Maxim Foundation”, a non-profit organization that is tasked with achieving real and practical redress in Egypt’s impoverished communities.
            </p>
            <div class="row">
                <div class="col-md-3 col-6 mb-3">
                    <div class="statistics-card">
                        <figure>
                            <img src="assets/media/education.png" alt="" srcset="">
                            <figcaption>
                                <h5>Education <br> Program</h5>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-3 col-6 mb-3">
                    <div class="statistics-card">
                        <figure>
                            <img src="assets/media/health.png" alt="" srcset="">
                            <figcaption>
                                <h5>
                                    Health <br> Program</h5>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-3 col-6 mb-3">
                    <div class="statistics-card">
                        <figure>
                            <img src="assets/media/Architecture.png" alt="" srcset="">
                            <figcaption>
                                <h5>
                                    Architecture & <br> Employment Program</h5>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-3 col-6 mb-3">
                    <div class="statistics-card">
                        <figure>
                            <img src="assets/media/Orphans.png" alt="" srcset="">
                            <figcaption>
                                <h5>Orphans & Refugees <br> Program</h5>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<section class="gallery-section">
    <div class="container">
        <header>
            <h4>Media hub</h4>
            <h2 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">
                Gallery
            </h2>
        </header>
        <article>
            <owl-carousel-o class="carousel-img" [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="assets/media/gallery1.png" alt="" srcset="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/media/gallery2.png" alt="" srcset="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/media/gallery1.png" alt="" srcset="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/media/gallery2.png" alt="" srcset="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/media/gallery1.png" alt="" srcset="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/media/gallery2.png" alt="" srcset="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/media/gallery1.png" alt="" srcset="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/media/gallery2.png" alt="" srcset="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/media/gallery1.png" alt="" srcset="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/media/gallery2.png" alt="" srcset="">
                </ng-template>  
            </owl-carousel-o>
        </article>
    </div>
</section>