<!-- Start Main Section -->
<section class="main-section">
    <app-header></app-header>
    <div class="container">
        <main>
            <section class="content">
                <header>
                    <h1  data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeIn" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;"> 
                        <sup>"</sup>
                        I believe that 70% of your investments are people,
                        not capital
                        <sub>"</sub>
                    </h1>
                    <h5>
                        Dr.Mohamed Karrar <span>, Chairman MIG</span>
                    </h5>
                </header>
                <article>
                    <div class="services">
                        <div class="services-card mb-3">
                            <img src="assets/home/Rea.png" alt="" srcset="">
                            <h4>Reliability</h4>
                        </div>
                        <div class="services-card mb-3">
                            <img src="assets/home/Trans.png" alt="" srcset="">
                            <h4>Transparency</h4>
                        </div>
                        <div class="services-card mb-3">
                            <img src="assets/home/Flex.png" alt="" srcset="">
                            <h4>Flexibility</h4>
                        </div>
                        <div class="services-card mb-3">
                            <img src="assets/home/Int.png" alt="" srcset="">
                            <h4>Integrity</h4>
                        </div>
                    </div>
                </article>
            </section>
        </main>
    </div>
</section>
<!-- End Main Section -->

<!-- Start About Section -->
<section class="about-section">
    <div class="container">
        <div class="about-content">
            <header>
                <h4>About us</h4>
                <h2 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">MIG Over Time</h2>
            </header>
            <article>
                <p>Founded in 1980 by Mr. Wagdy Karrar, the Maxim Investment Group of companies is a leader in real estate investment and development firms. At inception, MIG originally started in the construction sector, over the years it has successfully built, developed and executed several other ventures to accumulate an impressive portfolio.</p>
                <img class="w-100" src="assets/home/about.png" alt="" srcset="">
                <p>MIG has expanded its activities by actively leading and participating in joint ventures with public as well as private investors, solidifying MIG as a pre-eminent hospitality and real estate investment forms. MIG is now a vertically integrated developer, investor and partner for hospitality and mixed-use real estate.</p>
                <button routerLink="/company-profile">
                    <img src="assets/shared/icons/arrow.png" alt="" srcset="">
                    <span class="mx-2">
                        Know More
                    </span>
                </button>
            </article>
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- Start Statistics Section -->
<section class="statistics-section">
    <div class="container">
        <div class="statistics-content">
            <div class="row">
                <div class="col-lg col-md-3 col-6 mb-3">
                    <div class="statistics-card">
                        <figure>
                            <img src="assets/home/Company.png" alt="" srcset="">
                            <figcaption>
                                <h5>25</h5>
                                <p>Companies</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-lg col-md-3 col-6 mb-3">
                    <div class="statistics-card">
                        <figure>
                            <img src="assets/home/Project.png" alt="" srcset="">
                            <figcaption>
                                <h5>10 </h5>
                                <p>New Projects</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-lg col-md-3 col-6 mb-3">
                    <div class="statistics-card">
                        <figure>
                            <img src="assets/home/years.png" alt="" srcset="">
                            <figcaption>
                                <h5>41</h5>
                                <p>Years</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-lg col-md-3 col-6 mb-3">
                    <div class="statistics-card">
                        <figure>
                            <img src="assets/home/Clients.png" alt="" srcset="">
                            <figcaption>
                                <h5>3000</h5>
                                <p>Clients</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-lg col-md-3 col-6 mb-3">
                    <div class="statistics-card">
                        <figure>
                            <img src="assets/home/Emplo.png" alt="" srcset="">
                            <figcaption>
                                <h5>4000</h5>
                                <p>Employees</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Statistics Section -->

<!-- Start What We Do -->
<section class="what-we-do">
    <div class="container">
        <div class="content">
            <header>
                <h4>Services</h4>
                <h2 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">What We Do</h2>
            </header>
            <article>
                <div class="row">
                    <div class="col-md-6 my-3">
                        <div class="card-section h-100" routerLink="/services">
                            <img src="assets/home/development.png" alt="" srcset="">
                            <div class="link">
                                <h3>Development</h3>
                                <button>
                                    <img src="assets/shared/icons/arrow-white.png" alt="" srcset="">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <div class="card-section h-100" routerLink="/services">
                            <img src="assets/home/Tourism&Hospitality.png" alt="" srcset="">
                            <div class="link">
                                <h3>Hospitality</h3>
                                <button>
                                    <img src="assets/shared/icons/arrow-white.png" alt="" srcset="">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <div class="card-section h-100" routerLink="/services">
                            <img src="assets/home/Commercial&Retail.png" alt="" srcset="">
                            <div class="link">
                                <h3> Commercial Centers</h3>
                                <button>
                                    <img src="assets/shared/icons/arrow-white.png" alt="" srcset="">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <div class="card-section h-100" routerLink="/services">
                            <img src="assets/home/Services.png" alt="" srcset="">
                            <div class="link">
                                <h3>Business Solutions</h3>
                                <button>
                                    <img src="assets/shared/icons/arrow-white.png" alt="" srcset="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- End What We Do -->

<!-- Start Media Section -->
<section class="media-section">
    <div class="container">
        <div class="content">
            <header>
                <h4>Social</h4>
                <h2 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">MIG In Media</h2>
            </header>
            <article>
                <div class="row">
                    <div class="col-md-4 col-sm-6 my-3">
                        <a href="https://egyptian-gazette.com/business/real-state/maxim-mall-and-decathlon-sign-contract-for-new-branch-in-fifth-settlement/" target="_blank" rel="noopener noreferrer">
                            <div class="media-card h-100">
                                <img class="image-top w-100" src="https://egyptian-gazette.com/wp-content/uploads/2021/12/Maxim-Mall-750x375.jpeg" alt="" srcset="">
                                <div class="media-body">
                                    <time>News . 06 December 2021</time>
                                    <h4>‘Maxim Mall and Decathlon sign contract for new branch...’</h4>
                                    <p>Egypt: Maxim Mall signs Decathlon as one of its anchor stores providing high quality sporting goods at affordable prices ...</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 my-3">
                        <a href="https://almotawwer.com/almotawwer-tv/1767/" target="_blank" rel="noopener noreferrer">
                            <div class="media-card h-100">
                                <img class="image-top w-100" src="https://maximig.com/assets/AllImages/media/Karrar-conf.png" alt="" srcset="">
                                <div class="media-body">
                                    <time>News . 19 Jul 2022</time>
                                    <h4 dir="rtl">بالفيديو .. الدكتور محمد كرار يستعرض إنجازات مجموعة ماكسيم للاستثمار</h4>
                                    <p dir="rtl">أعلنت مجموعة مكسيم للاستثمار خلال المؤتمر الصحفي الذي عقدته اليوم في فندق كمبينسكي، عن إطلاق خطتها الاستراتيجية الجديدة والمتكاملة والتي ستعمل على ... </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 my-3">
                        <a href="https://almalnews.com/%D9%85%D9%83%D8%B3%D9%8A%D9%85-%D9%84%D9%84%D8%A7%D8%B3%D8%AA%D8%AB%D9%85%D8%A7%D8%B1-%D8%AA%D8%A8%D9%8A%D8%B9-%D9%85%D9%84%D9%8A%D9%88%D9%86-%D9%85%D8%AA%D8%B1-%D9%85%D8%B1%D8%A8%D8%B9-%D9%85%D9%86/" target="_blank" rel="noopener noreferrer">
                            <div class="media-card h-100">
                                <img class="image-top w-100" src="https://cms.almalnews.com/wp-content/uploads/2021/06/IMG-20210609-WA0006-2.jpg" alt="" srcset="">
                                <div class="media-body">
                                    <time>News . 9 Jun 2021</time>
                                    <h4 dir="rtl">مكسيم للاستثمار تنتهي من إعادة هيكلة 20 شركة تابعة</h4>
                                    <p dir="rtl">أعلنت مجموعة مكسيم للاستثمار خلال المؤتمر الصحفي الذي عقدته اليوم في فندق كمبينسكي، عن إطلاق خطتها الاستراتيجية الجديدة والمتكاملة والتي ستعمل على تحفيز عملية التحول التي تمر بها المجموعة في الوقت ... </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <div class="action">
                            <button routerLink="/news">
                                <img src="assets/shared/icons/arrow.png" alt="" srcset="">
                                <span class="mx-2">
                                    See All
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- End Media Section -->

<!-- Start Get In Touch -->
<section class="get-in-touch">
    <div class="container">
        <div class="content">
            <header>
                <h4>Contact us</h4>
                <h2 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">Get In Touch</h2>
            </header>
            <article>
                <p>
                    By providing Exceptional quality projects, products and
                    services to the community we aspire to enhance the
                    quality of life impacting not only the market but also
                    everyone's lifestyle.
                </p>
                <button routerLink="/contact">
                    <img src="assets/shared/icons/arrow.png" alt="" srcset="">
                    <span class="mx-2">
                        Contact
                    </span>
                </button>
            </article>
        </div>
    </div>
</section>
<!-- End Get In Touch -->