<!-- <section class="company-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 my-3 order-2 order-lg-1">
                <div class="info">
                    <header>
                        <h4>Leadership</h4>
                        <h2 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">The Founder</h2>
                    </header>
                    <article>
                        <p>
                            Founded in 1980 by Mr. Wagdy Karrar, the MIG family of companies is one of the industry’s leading real estate investment and development firms with experience owning, developing and operating across multiple industry segments and asset classes. At inception MIG originally worked in construction and has over the years successfully built, developed and executed on a number of strategies, resulting in the successful execution of several portfolio and operating platform transactions helped build a reputation and track record which laid the foundation for the company’s future growth and expansion. In 2014, adjusting to market and consumer trends, MIG further diversified its portfolio and expanded its focus to include the acquisition and development of luxury mixed-use hotels and resorts with complementary residential components.
                        </p>
                        <p>
                            MIG considers itself to be a pioneer and innovator in this segment with regards to design, capital markets execution and outside the box thinking and has since emerged as an established contender in the development and hospitality sector. In 2019, MIG has expanded its activities by actively leading and participating in joint ventures with public and private investors, further solidifying MIG as one of the industry’s pre-eminent hospitality real estate investment firms. MIG is now a vertically integrated developer, investor and partner for hospitality and mixed use real estate. MIG’s focus on longterm and sustainable growth in enterprise value is built on an in-depth understanding of industry fundamentals, established knowledge of demographic trends and consumer behavior.
                        </p>
                    </article>
                </div>
            </div>
            <div class="col-lg-5 my-3 order-1 order-lg-2">
                <div class="chairman-img">
                    <img class="w-100" src="assets/about/Founder.png" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="story">
    <div class="container">
        <header>
            <h4>About</h4>
            <h2 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">Our Story</h2>
        </header>
        <article>
            <img class="w-100" src="assets/about/story.png" alt="" srcset="">
            <p>
                <strong>History spanning 4 decades of change, growth and development</strong>
            </p>
            <p>The MIG leadership team is dynamic, vibrant, entrepreneurial and focused, and is made up of industry leaders which bring a wealth of experience. With an average of over 25 years of industry experience they offer unmatched expertise at every level of the real estate management and development process. MIG’s approach to ventures is to think and act like a private equity fund, evaluating investments for both long-term appreciation and risk-adjusted internal rates of return.</p>
            <button>Download Profile</button>
        </article>
    </div>
</section>

<section class="vision-mision mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-3">
                <div class="vision-card profile-card h-100">
                    <header>
                        <h4>ABOUT</h4>
                        <h2 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">
                            Our Vision
                        </h2>
                    </header>
                    <article>
                        <p>
                            <strong>We have a simple vision …</strong>
                        </p>
                        <p>
                            To be the preferred partner and best performing investment group in our main investment sectors: Hospitality, Real Estate, Commercial & Retail and Services.
                        </p>
                        <p>
                            Our set of core values outline the defining culture of our business and guide us to achieving our vision. They are at the heart of creating value for our clients, partners & employees.
                        </p>
                        <p>
                            <strong>Reliability, Dynamism, Flexibility and Transparency.</strong>
                        </p>
                    </article>
                </div>
            </div>
            <div class="col-md-6 my-3">
                <div class="mision-card profile-card h-100">
                    <header>
                        <h4>ABOUT</h4>
                        <h2 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">
                            Our Mission
                        </h2>
                    </header>
                    <article>
                        <p>
                            <strong>Satisfaction of its entrusted clients and partners</strong>
                        </p>
                        <p>
                            MIG’s number one priority is the satisfaction of its entrusted
                            clients and partners. Ensured by more than 40 years of experience in the real estate, hospitality, commercial, and retail sectors. Maxim Investment Group takes extreme pride in the dedication of its team and staff, to offer fully integrated, innovative and convenient solutions and services.
                            All done for the sustainable growth, development and prosperity of our community.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
