<section class="chairman-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 my-3 order-2 order-lg-1">
                <div class="info">
                    <header>
                        <h4>Leadership</h4>
                        <h2 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">The Founder</h2>
                    </header>
                    <article>
                        <p>
                            Founded in 1980 by Mr. Wagdy Karrar, the MIG family of companies is one of the industry’s leading real estate investment and development firms with experience owning, developing and operating across multiple industry segments and asset classes. At inception MIG originally worked in construction and has over the years successfully built, developed and executed on a number of strategies, resulting in the successful execution of several portfolio and operating platform transactions helped build a reputation and track record which laid the foundation for the company’s future growth and expansion. In 2014, adjusting to market and consumer trends, MIG further diversified its portfolio and expanded its focus to include the acquisition and development of luxury mixed-use hotels and resorts with complementary residential components.
                        </p>
                        <p>
                            MIG considers itself to be a pioneer and innovator in this segment with regards to design, capital markets execution and outside the box thinking and has since emerged as an established contender in the development and hospitality sector. In 2019, MIG has expanded its activities by actively leading and participating in joint ventures with public and private investors, further solidifying MIG as one of the industry’s pre-eminent hospitality real estate investment firms. MIG is now a vertically integrated developer, investor and partner for hospitality and mixed use real estate. MIG’s focus on longterm and sustainable growth in enterprise value is built on an in-depth understanding of industry fundamentals, established knowledge of demographic trends and consumer behavior.
                        </p>
                    </article>
                </div>
            </div>
            <div class="col-lg-5 my-3 order-1 order-lg-2">
                <div class="chairman-img">
                    <img class="w-100" src="assets/about/Founder.png" alt="" srcset="">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-5 my-3">
                <div class="chairman-img">
                    <img class="w-100" src="assets/about/Dr.Karrar.png" alt="" srcset="">
                </div>
            </div>
            <div class="col-lg-7 my-3">
                <div class="info">
                    <header>
                        <h4>Leadership</h4>
                        <h2 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">About The Chairman</h2>
                    </header>
                    <article>
                        <p>
                            Dr. Mohamed Karrar is a serial Entrepreneur and investor who has a passion for starting and growing companies and developing win-win partnerships.
                        </p>
                        <p>
                            He is the Chairman of Maxim Investment Group which personifies his commitment to the highest standards of quality, integrity, and value. In addition to chairing the company, he is responsible for directing all aspects of the acquisition, financing and management of the company’s diverse portfolio of multifamily, hospitality, retail, office, and industrial properties.
                        </p>
                        <p>
                            For the past 25 years, Dr. Karrar has structured investments with an asset value of over EGP 15 billion. Into a portfolio of 20 companies and through its affiliates and externally managed companies encompass around 3000 employees.
                        </p>
                        <p>
                            In 2018, Dr. Karrar founded the Maxim Family Foundation, to formalize his family’s philanthropic giving.
                        </p>
                        <p>
                            Dr. Mohamed Karrar holds a BA in International Business from Schiller International University, Heidelberg – Germany followed by an MBA from California National University. He later earned a PHD in Washington.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>