<section class="dirictors-page">
    <div class="container">
        <header>
            <h4>Leadership</h4>
            <h2 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">MIG Board of Directors</h2>
        </header>
        <article>
            <!-- <div class="row my-4">
                <div class="col-lg-4 my-1">
                    <div class="user-img">
                        <figure>
                            <img class="w-100" src="assets/about/Dr.MohamedKarrar.png" alt="" srcset="">
                            <figcaption>
                                <h4>Dr.Mohamed Karrar</h4>
                                <p>Chairman</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-8 my-1">
                    <div class="info">
                        <p>
                            Dr. Mohamed Karrar, Chairman of Maxim Investment Group; is the Owner of a steeply emerging corporation with distinguished Real Estate Investment and Development foundation.
                        </p>
                        <p>
                            He has witnessed the inauguration, elemental establishment and successive transformation phases of today’s fully fledged, and well-integrated model to resourcefully meet the market dynamics.
                        </p>
                        <p>
                            Dr. Karrar is currently heading a highly profound group of diverse leaders operating within prime enterprises and evolving subsidiaries of relevant business portfolios.
                            Being externally focused, he is recognized for his capabilities when it comes to stakeholder engagement.
                        </p>
                    </div>
                </div>
            </div> -->
            <div class="row my-4">
                <div class="col-lg-8 order-2 order-lg-1 my-1">
                    <div class="info">
                        <p>
                            Samir has a proven track record of achievement and innovation in the development and hospitality sectors. Samir joins Maxim Investment Group after his work in which he spent about two decades in the United Arab Emirates, during which he held many positions and leadership roles in Jumeirah Group, Kerzner International and Emaar Hospitality, where he reached the position of the company’s corporate director for operations and development in Emaar. During that period, Samir supervised more than 17 hotels under development, and was responsible for the development and management of more than 23 hotels and residential projects in 5 countries (UAE/Egypt/Saudi Arabia/Turkey/Bahrain)
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 order-1 order-lg-2 my-1">
                    <div class="user-img">
                        <figure>
                            <img class="w-100" src="assets/about/MohamedSamir.png" alt="" srcset="">
                            <figcaption>
                                <h4>Mohamed Samir</h4>
                                <p>Group Chief Executive Officer</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-lg-4 my-1">
                    <div class="user-img">
                        <figure>
                            <img class="w-100" src="assets/about/esaam.png" alt="" srcset="">
                            <figcaption>
                                <h4>Essam Hassan</h4>
                                <p>Group Chief Financial Officer</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-8 my-1">
                    <div class="info">
                        <p>
                            Essam Hassan joins Maxim Investment Group as “Group Chief Financial Officer” as of 2021.
                            Essam holds a Masters of Business Administration in Corporate Finance (MBA) as well as a Certified Financial Technician (CFTe) and Certified Auditor (CA), he joins MIG after his posts as the CFO at AliBaba Group, Financial Controller and Virgin Megastore and Azadea Group in Egypt.
                        </p>
                        <p>
                            After spending over two decades in corporate finance, banking, retail and as well as business development, Essam has mastered corporate restructuring and transformation with a long-proven record financial leadership and corporate structures.
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>