<footer>
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 my-3">
                    <div class="logo text-center">
                        <img class="footer-logo" src="assets/shared/footer/logo.png" alt="" srcset="">
                        <div class="links">
                            <ul class="list-unstyled d-flex align-items-center justify-content-center">
                                <li>
                                    <a class="mx-1" href="" target="_blank">
                                        <img src="assets/shared/icons/fb.png" alt="" srcset="">
                                    </a>
                                </li>
                                <li>
                                    <a class="mx-1" href="" target="_blank">
                                        <img src="assets/shared/icons/linked.png" alt="" srcset="">
                                    </a>
                                </li>
                                <li>
                                    <a class="mx-1" href="" target="_blank">
                                        <img src="assets/shared/icons/insta.png" alt="" srcset="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-8 my-3">
                    <div class="contact-links">
                        <div class="contact-info">
                            <header>
                                <h4>CONTACT</h4>
                            </header>
                            <ul class="list-unstyled">
                                <li>
                                    <img src="assets/shared/icons/location.png" alt="" srcset="">
                                    <span class="mx-2">
                                        <a href="https://www.google.com/maps?ll=30.090888,31.37435&z=17&t=m&hl=en&gl=EG&mapclient=embed&cid=1653817026141649146" target="_blank" rel="noopener noreferrer">
                                            147, Al Multaqah Al Araby, Sheraton, Heliopolis,
                                        </a>
                                    </span>
                                </li>
                                <li>
                                    <img src="assets/shared/icons/mobile.png" alt="" srcset="">
                                    <div class="mx-2">
                                        <span>
                                            <a href="tel:+2+202 20652000">
                                                +202 20652000
                                            </a>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <img src="assets/shared/icons/sms.png" alt="" srcset="">
                                    <span class="mx-2">
                                        <a href="mailto:info@maximig.com">
                                            info@maximig.com
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 my-3">
                    <div class="links">
                        <div class="quick-links">
                            <header>
                                <h4>QUICK LINKS</h4>
                            </header>
                            <article>
                                <div class="d-flex justify-content-between">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a routerLink="/board-of-dirictors">MIG Board</a>
                                        </li>
                                        <li>
                                            <a routerLink="/chairman-letter">Chairman letter</a>
                                        </li>
                                        <li>
                                            <a routerLink="/company-profile">Company profile</a>
                                        </li>
                                        <li>
                                            <a routerLink="/services">What we do</a>
                                        </li>
                                        <li>
                                            <a routerLink="/news">News</a>
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a routerLink="/csr">CSR</a>
                                        </li>
                                        <li>
                                            <a routerLink="/contact">Contact US</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="copyright">
                        <p>Copyright © 1998-2021 Emojiit, All Rights Reserved</p>
                        <ul class="list-unstyled">
                            <li class="pe-3">
                                <a href="">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>